@using FruitMVC.Areas.Admin.ViewModel
@model CreateFruitVM
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input asp-for="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category" class="form-label">Category</label>
            <input asp-for="Category" class="form-control" id="exampleInputPassword1">
            <span asp-validation-for="Category" style="color:red"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Image" class="form-control" id="inputGroupFile02">
            <span asp-validation-for="Image" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>